@tailwind base;
@tailwind components;
@tailwind utilities;

#time {
  background-image: url('./images/contact-us.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Optional: This keeps the background fixed while scrolling */
}


form > div {
  @apply flex flex-col gap-2;
}
input,
textarea{
  @apply shadow-md px-6 py-2 border border-slate-300;
}